/Computer/Kodi/skin/repo/repository.example/_repo_xml_generator.py
/Computer/Kodi/skin/repo/repository.example/liesmich.txt
_repo_xml_generator.py
liesmich.txt
e:\Computer\Kodi\skin\repo\repository.example\_repo_xml_generator.py
e:\Computer\Kodi\skin\repo\repository.example\liesmich.txt